<h1>{{middle.storyPart}}</h1>
<p>one day, Rupert decided to visit {{middle.place}}. so he hopped
    on a {{middle.travelVehicle}} to get there. Once he got there, he decided
    to stay for at least {{middle.yearsToStay}} years.
</p>